<!doctype html>
<html>
  <head>
    <%= partial "partials/_dependencies" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/_google-analytic" %>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <%= partial "partials/_menu" %>
        <%= partial "partials/_hero" %>
        <%= yield %>
        <a class="exit-off-canvas"></a>
        <%= partial "partials/_footer" %>
      </div>
    </div>
    <%= javascript_include_tag "vendor/smooth-scroll" %>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation/foundation.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation/foundation.offcanvas.min.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>