<div class="portfolio row" id="portfolio">
  <h2>Portfolio</h2>
  <div class="large-9 large-centered columns">
     <ul class="port-span small-block-grid-2 large-block-grid-3">
      <li><a href="/posts/2014-01-05-devil-is-in-the-details"><%= image_tag 'rewireleadership.png'%><p>Rewire Leadership</p></a></li>
      <li><a href="https://github.com/mule-deer-2013/OpenNGO" target="_blank"><%= image_tag 'helpag.png'%><p>Help Argentina</p></a></li>
      <li><%= image_tag 'doodle.png'%><p>Coming soon</p></li>
    </ul>
  </div>
</div>

<div class="feature-blog row">
  <div class="large-9 small-centered columns">
    <h2>Lastest Post</h2>
    <div class="small-12 large-6 columns">
      <% link_to blog.articles.last.url do %>
        <%= image_tag 'posts/1-3-14/table_compare.png' %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <span class="date"><%= blog.articles.last.date.strftime('%B %e, %Y').upcase %></span>
      <% link_to blog.articles.last.url do %>
        <h3><%= blog.articles.last.title %></h3>
      <% end %>
      <h4><%= blog.articles.last.data["subtitle"] %></h4>
    </div>
  </div>
</div>

<div class="about row" id="about">
  <h2>About</h2>
  <div class="large-9 large-centered columns">
    <div class="large-3 columns">
      <%= image_tag 'lily.png', id: :lily %>
    </div>
    <div class="large-9 columns">
      <p>Earlier this year, I decided to quit my job as a business consultant and moved across the world from Singapore to San Francisco with a dream of becoming a world changer.</p>
      <p>My journey has just begun. I know that it is a risky decision but by far it's well worth it. I love every single moment of coding. I'm living my dream.</p>
    </div>
  </div>
</div>
