
<div class="hero row">
  <div class="large-3 large-centered columns">
    <%= image_tag 'logo.png', class: :logo %>
    <h1>HI. I'M LILY. </h1>
    <p>I love solving puzzles and making cool things.<br>
    Let's grab some coffee if you like what I do.</p>
    <a class="main-btn" href="#contact">Contact me</a>
  </div>
</div>
<div class="portfolio row">
  <h2>Portfolio</h2>
 
  <div class="large-9 large-centered columns">
     <ul class="port-span small-block-grid-2 large-block-grid-3">
      <li><a href="http://rewireleadership.com" target="_blank"><%= image_tag 'rewireleadership.png'%><p>Rewire Leadership</p></a></li>
      <li><a href="https://github.com/mule-deer-2013/OpenNGO" target="_blank"><%= image_tag 'helpag.png'%><p>Help Agentina</p></a></li>
      <li><%= image_tag 'doodle.png'%><p>Coming soon</p></li>
    </ul>
  </div>
</div>

<div class="about row">
  <h2>About</h2>
  <div class="large-9 large-centered columns">
    <div class="large-3 columns">
      <%= image_tag 'about.png', id: :lily %>
    </div>
    <div class="large-9 columns">
      <p>Earlier this year, I decided to quit my job as a business consultant and moved across the world from Singapore to San Francisco with a dream of becoming a world changer.</p>
      <p>My journey has just begun. I know that it is a risky decision but by far it's well worth it. I love every single moment of coding. I'm living my dream.</p>
    </div>
    <hr>
  </div>
</div>
<footer class="row">
  <a name="contact"></a>
  <div class="contact-form small-8 large-10 columns">
    <div id="wufoo-zjvxiza1fdtym6">
    Fill out my <a href="https://lilyj.wufoo.com/forms/zjvxiza1fdtym6">online form</a>.
    </div>
  </div>
  <script type="text/javascript">var zjvxiza1fdtym6;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'lilyj', 
  'formHash':'zjvxiza1fdtym6', 
  'autoResize':true,
  'height':'464',
  'async':true,
  'host':'wufoo.com',
  'header':'show', 
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { zjvxiza1fdtym6 = new WufooForm();zjvxiza1fdtym6.initialize(options);zjvxiza1fdtym6.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');</script>

  <div class="small-4 large-2 columns">
   <a href="http://github.com/LilyJ" target="_blank"><%= image_tag 'github.png'%></a>
   <a href="http://www.linkedin.com/in/lilyjarusvasunt" target="_blank"><%= image_tag 'linkedin.png'%></a>
  </div>

</footer>
